/* your custom css */

@media only screen and (min-device-width: 360px) and (max-device-width: 736px) {
}

@media only screen and (min-width: 1024px) {
}

@media only screen and (max-width: 1023px) {
}

@media only screen and (min-width: 1400px) {
}

@media only screen and (min-width: 1500px) {
}

.homeContainer {
    background-color: #075b9a;
   
}

.fixedHeaderContainer {
    background-color: #054d85;
}

.projectTitle {
    Color: white;
}

.button{
    Color: white;
}

.button
{
    display: in-line block;
    font-size: 20px;
    background-color: #054d85;
    color: white;
    padding: 15px 15px;
    transition: .3s ease-out;
    
}

.button2 {
    Color: initial;
}